.container {
    margin-top: 50px;
}

.backgroundcolor {
	float:left;
	width:30px;
	height:30px;
	margin:5px;
	border: 1px solid white;
}

.colpick {
	z-index: 999999;
}

#custom-html-group {
	display: none;
}